<header>
  <nav>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/short">URL Shortener</a></li>
      <li><a href="/student">Student</a></li>
      <li><a href="/report">Report</a></li>
    </ul>
  </nav>
</header>
