<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="card">
      <form action="/short" method="post">
        <input type="text" name="url" placeholder="Enter URL" required />
        <input
          type="text"
          name="shortCode"
          placeholder="Enter Short Code (optional)"
        />
        <button type="submit">Shorten URL</button>
      </form>
      <div class="link-history">
        <h2>Short Link History</h2>
        <!-- Object.entries(links)
        .map(
          ([shortCode, url]) =>
            `<li><a href="/link/${shortCode}">${shortCode}</a></li>`
        )
        .join("") -->

        <% Object.entries(links).map(([shortCode, url]) => { %>
        <li>
          <a href="/link/<%=shortCode%>" target="_blank"><%=shortCode%></a>
        </li>
        <%})%>
      </div>
    </div>
  </body>
</html>
